@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.reveal-box {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.reveal-box.active {
  opacity: 1;
  transform: translateY(0);
}