@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@100..800&display=swap');
@import "tailwindcss";

:root {
  --bg-page: oklch(6% 0.005 260);      
  --bg-card: oklch(23% 0 260);
  --bg-card-2: oklch(15% 0 260);     
  --bg-input: oklch(14% 0.015 260);   
  --border: oklch(20% 0.02 260);      
  
  --accent: oklch(70% 0.18 250);
  --text-main: oklch(98% 0 0);        
  --text-muted: oklch(65% 0.01 260);  

  --radius-lg: 12px;
  --radius-pill: 999px;
  --transition-main: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  
  background-color: var(--bg-page);
  color: var(--text-main);
  
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.6;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.font-geist {
  font-family: 'Geist', sans-serif;
  letter-spacing: -0.04em;
}

.font-inter {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.011em;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

.light {
  --bg-page: oklch(99% 0.005 0);
  --bg-card: oklch(95% 0.01 0);
  --bg-input: oklch(90% 0.01 0);
  --border: oklch(88% 0.02 0);
  --text-main: oklch(15% 0.01 260);
  --text-muted: oklch(45% 0.02 260);
}

.hero-heading {
  font-family: 'Geist', sans-serif;
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(to bottom, var(--text-main), var(--text-muted));

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-panel {
  background: color-mix(in oklch, var(--bg-card), transparent 15%);
  backdrop-filter: blur(12px);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  padding: 2rem;
}

.header {
  background-color: var(--bg-page);
  border-bottom: 1px solid var(--bg-card)
}

.button {
  background: var(--bg-card-2);
  border-radius: 8px;
  border: 1px solid var(--bg-card);
  padding: 5px 10px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: var(--bg-card);
}

.isActive {
  background-color: var(--bg-card);
  box-shadow: 0 0 5px 1px var(--text-main);

}

::selection {
  background: var(--text-main);
  color: var(--bg-page);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
}